{% extends 'layout.html.twig' %}

{% block body %}
{#    <div class="row">#}
{#        <div class="col-12" style="background-color:#212529; color: white; text-align: center; padding: 20px; margin-top: 20px">#}
{#            <div class="col-2 offset-5" style="border-top: 1px solid rgba(255,255,255,.55)"><h1>Můj účet</h1></div>#}
{#        </div>#}
{#    </div>#}

{#    <style>#}
{#        td {#}
{#            border: 1px solid#}
{#        }#}
{#    </style>#}
    <div class="row">
        <div class="col-6" style="padding: 20px">
            <table class="table">
                <thead>
                    <th style="font-size: 18px;">Účet:</th>
                    <th style="text-align: right">
                        <div class="btn btn-primary btn-sm">Upravit údaje</div>
                        <div class="btn btn-primary btn-sm">Změnit heslo</div>
                        <div class="btn btn-danger btn-sm">Odstranit účet</div>
                    </th>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Email:</th>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Jméno:</th>
                    <td>{{ app.user.firstName }}</td>
                </tr>
                <tr>
                    <th scope="row">Příjmení:</th>
                    <td>{{ app.user.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">Název firmy:</th>
                    <td>{{ app.user.companyName }}</td>
                </tr>
                <tr>
                    <th scope="row">Ičo:</th>
                    <td>{{ app.user.vatNumber }}</td>
                </tr>
                <tr>
                    <th scope="row">Číslo účtu:</th>
                    <td>{{ app.user.bankAccountNumber }}</td>
                </tr>
                <tr>
                    <th scope="row">Město:</th>
                    <td>{{ app.user.addrCity }}</td>
                </tr>
                <tr>
                    <th scope="row">Ulice:</th>
                    <td>{{ app.user.addrStreet }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-6" style="padding: 20px">
            <table class="table">
                <thead>
                <th style="font-size: 18px;">Statistiky:</th>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Registrován:</th>
                    <td>{{ app.user.firstName }}</td>
                </tr>
                <tr>
                    <th scope="row">Kontaktů v adresáři:</th>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Vydaných faktur:</th>
                    <td>{{ app.user.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">Vydané faktury částka:</th>
                    <td>{{ app.user.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">Přijatých faktur:</th>
                    <td>{{ app.user.companyName }}</td>
                </tr>
                <tr>
                    <th scope="row">Přijaté faktury částka:</th>
                    <td colspan="2">{{ app.user.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">Nezaplacené faktury:</th>
                    <td>{{ app.user.vatNumber }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-4" style="">
            Prejdete na preium
        </div>
        <div class="col-4" style="text-align: center">
            <img src="http://pngimg.com/uploads/free/free_PNG90769.png" width="300" height="300" />
            <div class="row">
                <div class="col">
                    Vyhoda
                </div>
            </div>
        </div>
        <div class="col-4" style="text-align: center">
            <img src="https://thumbs.dreamstime.com/b/premium-seal-eps-16109419.jpg" width="300" height="300" />
            <div class="row">
                <div class="col">
                    Vyhoda
                </div>
            </div>
        </div>
    </div>
{% endblock %}


