{% extends '/layout.html.twig' %}

{% block sidebar %}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4" >
            <div style="margin-top: 150px;text-align: center;width: 500px;height: 500px;border: 1px solid black">Home not logged in!!!</div>
        </div>
        <div class="col-4" >
            <div style="margin-top: 150px;text-align: center;width: 500px;height: 500px;border: 1px solid black">Home not logged in!!!</div>
        </div>
        <div class="col-4" >
            <div style="margin-top: 150px;text-align: center;width: 500px;height: 500px;border: 1px solid black">Home not logged in!!!</div>
        </div>
    </div>
{% endblock %}