{% extends 'layout.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

    {% if app.user is null %}
        <script>
            $(document).ready(function () {
                $.backstretch("img/1.jpg");
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.1.18/jquery.backstretch.js" integrity="sha512-hnO4ypSVsbX/EBMaO/auYhsgRSSWftlgxCsJjqIHWUIGeAQWefevOlG8OrnopZ7eDER+xn/rOtSXqSWHkvxsOA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <div class="row">
            {{ form_start(registrationForm) }}
            <section class="h-100">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-xl-6">
                            <div class="card card-registration my-4">
                                <div class="row g-0">
                                    <div class="col-xl-12">
                                        <div class="card-body p-md-5 text-black">
                                            <h3 class="mb-5 text-uppercase">Registrační formulář</h3>
                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        {{ form_row(registrationForm.email) }}
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        {{ form_label(registrationForm.plainPassword) }}
                                                        <div class="input-group">

                                                            <div class="input-group mb-3" id="show_hide_password">
                                                                {{ form_widget(registrationForm.plainPassword) }}
                                                                <div class="input-group-text" >
                                                                    <a href="#" style="color:#333">
                                                                        <i class="fa fa-eye-slash" style="min-width: 20px;" aria-hidden="true"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <div class="form-outline mb-4">
                                                    * pro registraci jsou nutné pouze základní údaje
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="d-flex justify-content-between pt-3">
                                                    <div>
                                                        <div class="d-flex">
                                                            <div>
                                                                {{ form_label(registrationForm.agreeTerms) }}
                                                                {{ form_widget(registrationForm.agreeTerms) }}
                                                            </div>
                                                            <a class="ms-1" href="#">všeobecnými podmínkami</a>
                                                        </div>
                                                        <div class="d-flex">
                                                            <div>
                                                                {{ form_label(registrationForm.agreeTermsPrivacy) }}
                                                                {{ form_widget(registrationForm.agreeTermsPrivacy) }}
                                                            </div>
                                                            <div class="ms-1">zpracováním</div>
                                                            <a class="ms-1" href="#">osobních údajů</a>
                                                        </div>

                                                    </div>
                                                    <button type="submit" class="btn btn-primary btn-lg ms-2">Registrovat</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {{ form_end(registrationForm) }}

        </div>

    {% endif %}


{% endblock %}
