{# templates/login/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block body %}
    {% if app.user is null %}
        <script>
            $(document).ready(function () {
                $.backstretch("img/1.jpg");
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.1.18/jquery.backstretch.js"
                integrity="sha512-hnO4ypSVsbX/EBMaO/auYhsgRSSWftlgxCsJjqIHWUIGeAQWefevOlG8OrnopZ7eDER+xn/rOtSXqSWHkvxsOA=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <div class="row">
            <form action="{{ path('app_login') }}" method="post">
                <section class="h-100">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-xl-6">
                                <div class="card card-registration my-4">
                                    <div class="row g-0">
                                        <div class="col-xl-12">
                                            <div class="card-body p-md-5 text-black">
                                                <h3 class="mb-5 text-uppercase">Přihlášení</h3>
                                                <div class="row">
                                                    <div class="col-md-6 mb-4">
                                                        <div class="form-outline">
                                                            <div class="mb-3">
                                                                <label for="registration_form_email"
                                                                       class="form-label required">Email</label>
                                                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-4">
                                                        <div class="form-outline">
                                                            <label for="registration_form_plainPassword" class="form-label required">Heslo</label>
                                                            <div class="input-group">
                                                                <div class="input-group mb-3" id="show_hide_password">
                                                                    <input type="password" id="password" name="_password" class="form-control">
                                                                    <div class="input-group-text">
                                                                        <a href="#" style="color:#333">
                                                                            <i class="fa fa-eye-slash" style="min-width: 20px;" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    {% if error %}
                                                        <div class="row">
                                                            <div class="col-md-12 mb-4">
                                                                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                                            </div>
                                                        </div>
                                                    {% endif %}

                                                    <div class="row">
                                                        <div class="d-flex justify-content-between pt-3">
                                                            <div>
                                                                * Nemáte ještě účet?
                                                                <a href="{{ path('app_register') }}">Zaregistrujte se</a>
                                                            </div>
                                                            <input type="hidden" name="_target_path" value="/app"/>
                                                            <button type="submit" class="btn btn-primary btn-lg ms-2">
                                                                Přihlásit
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="_target_path" value="/app"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>

    {% endif %}
{% endblock %}