{% extends 'layout.html.twig' %}

{% block title %}Hello ContactsController!{% endblock %}


{% block body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script src="../js/invoice.js"></script>

    <link rel="stylesheet" href="../css/customForm.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

        <div class="container" >
            {{ form_start(form) }}
            <div class="row" style="padding-top: 1rem">
                <div class="col col-md-5">
                </div>
                <div class="col col-md-12" style="text-align: center">
                    <legend class="col-form-label required">Zaúčtování</legend>
                    {{ form_widget(form.invoice_accounting_type, {'attr': {'class': 'd-inline-flex'}}) }}
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col col-md-2">
                </div>
                <div class="col col-md-4" style="text-align: center">
                    <legend class="col-form-label required">Typ dokladu</legend>
                    {{ form_widget(form.invoice_type, {'attr': {'class': 'd-inline-flex'}}) }}
                </div>
                <div class="col col-md-4" style="text-align: center">
                    <legend class="col-form-label required">Status</legend>
                    {{ form_widget(form.status, {'attr': {'class': 'd-inline-flex'}}) }}
                </div>
            </div>
                <div class="row" style="padding-top: 2rem">
                    <div class="col col-md-2"></div>
                    <div class="col col-md-4">
                        {{ form_label(form.contact, 'Kontakt') }}
                        {{ form_widget(form.contact) }}
                    </div>
                    <div class="col col-md-4">
                        {{ form_label(form.create_date, 'Datum vystavení') }}
                        {{ form_widget(form.create_date) }}
                    </div>
                </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col col-md-2"></div>
                <div class="col col-md-4">
                    {{ form_label(form.invoice_number, 'Číslo dokladu') }}
                    {{ form_widget(form.invoice_number) }}
                </div>
                <div class="col col-md-4">
                    {{ form_label(form.due_date, 'Datum splatnosti') }}
                    {{ form_widget(form.due_date) }}
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col col-md-2"></div>
                <div class="col col-md-4">
                    {{ form_label(form.variable_symbol, 'Variabilní symbol') }}
                    {{ form_widget(form.variable_symbol) }}
                </div>
                <div class="col col-md-4">
                    {{ form_label(form.tax_application_date, 'DUZP') }}
                    {{ form_widget(form.tax_application_date) }}
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
            <div class="col col-md-2"></div>
            <div class="col col-md-4">
                <legend class="col-form-label required">Platba</legend>
                {{ form_widget(form.payment_method, {'attr': {'class': 'd-inline-flex'}}) }}
            </div>
            <div class="col col-md-4">
                {{ form_label(form.currency, 'Měna') }}
                {{ form_widget(form.currency) }}
            </div>
        </div>

            <div class="row" style="padding-top: 3rem">
                <div class="col col-md-12">
                    {{ form_label(form.text_before, 'Text před') }}
                    {{ form_widget(form.text_before) }}
                </div>
            </div>
            <div id="invoice_items">
                {% set i = -1 %}
                {% if form.invoiceItems %}
                    {% for singleItem in form.invoiceItems %}
                        {% set i = i + 1 %}
                        <div class="row" id="item{{ i }}" data-rownum="{{ i }}" style="padding-top: 3rem">
                            <div class="col col-md-6">
                                {{ form_label(singleItem.name, 'Název') }}
                                {{ form_widget(singleItem.name) }}
                            </div>
                            <div class="col col-md-1">
                                {{ form_label(singleItem.amount, 'Množství') }}
                                {{ form_widget(singleItem.amount) }}
                            </div>
                            <div class="col col-md-1">
                                {{ form_label(singleItem.unit, 'Jednotka') }}
                                {{ form_widget(singleItem.unit) }}
                            </div>
                            <div class="col col-md-1 form-label-a-right">
                                {{ form_label(singleItem.pricePerUnit, 'Cena') }}
                                {{ form_widget(singleItem.pricePerUnit) }}
                            </div>
                            <div class="col col-md-2">
                                <div class="form-label form-label-a-right">Celkem</div>
                                <span> {{ form_widget(singleItem.price) }}</span>
                            </div>
                            <div class="col col-md-1">
                                <label class="form-label"></label>
                                <i id="removeItem" class="fas fa-minus-circle fa-2x" style="display: block; color: #d11a2a; padding-top: 10px" data-toggle="tooltip" data-placement="top" title="Odstranit položku"></i>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row" id="invoice_form_newItem_row">
                <div class="col col-md-5">
                </div>
                <div id="invoice_form_newItem" class="col col-md-2" style="padding: 20px 0 10px 0; text-align: center" data-toggle="tooltip" data-placement="top" title="Přidat položku">
                    <i class="fas fa-plus-circle fa-2x" style="color:#04AA6D"></i>
                </div>
            </div>
            <div class="row" style="border-top: 1px solid black">
                <div class="col col-md-8">
                    <div class="form-control-plaintext">Celková cena:</div>
                </div>
                <div class="col col-md-3" style="text-align: right; padding-top: 10px;">
                     {{ form_widget(form.price) }}
                </div>
                <div class="col col-md-1" style="text-align: left; padding-top: 10px;">
                    <div class="form-control-plaintext">CZK</div>
                </div>
            </div>

            <div class="row" style="padding-top: 3rem">
                <div class="col col-md-12">
                    {{ form_label(form.text_after, 'Text za') }}
                    {{ form_widget(form.text_after) }}
                </div>
            </div>
            <div class="row" style="padding-top: 3rem">
                <div class="col col-md-12">,
                    {{ form_label(form.note, 'Poznámka') }}
                    {{ form_widget(form.note) }}
                </div>
            </div>
            <div class="row" style="padding-top: 3rem">
                <div class="col col-md-12">
                    {{ form_label(form.footer_text, 'Text v patičce') }}
                    {{ form_widget(form.footer_text) }}
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col col-md-5"></div>
                <div class="col col-md-2" style="padding-bottom: 20px">
                    {{ form_widget(form.submit, { 'label': 'Odeslat' }) }}
                </div>
            </div>
            {{ form_end(form) }}

{#            <h1 class="h1">Nová faktura</h1>#}
{#            {{ form_start(form) }}#}
{#            <div class="my-custom-class-for-errors">#}
{#                {{ form_errors(form) }}#}
{#            </div>#}

{#            <div class="row">#}
{#                <div class="col">#}
{#                    {{ form_label(form.contacts, 'Kontakt') }}#}
{#                </div>#}
{#                <div class="col" id="some-custom-id">#}
{#                    {{ form_row(form.dueDate) }}#}
{#                </div>#}
{#            </div>#}
{#            {{ form_end(form) }}#}
{#           {{ form(form) }}#}
        </div>

{% endblock %}
