{% extends 'layout.html.twig' %}

{% block title %}Hello ContactsController!{% endblock %}


{% block body %}
    <div class="main">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <a href="{{ path('invoices.create') }}">
                <button type="button" class="btn btn-secondary btn-lg btn-block" style="margin-top: 20px">
                    Nový doklad<i class="fas fa-user-plus" style="padding-left: 10px"></i>
                </button>
            </a>

            <table class="table table-striped" style="margin-top: 30px">
                <thead>
                <tr>
                    <th>Číslo</th>
                    <th>Typ</th>
                    <th>Firma/Kontakt</th>
                    <th>Vystaveno</th>
                    <th>Splatnost</th>
                    <th>Stav</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.invoiceNumber }}</td>
                        <td>{{ invoice.invoiceType.TypeName }}</td>
                        <td>{{ invoice.contact.title }}</td>
                        <td>{{ invoice.createDate|date('d-m-Y') }}</td>
                        <td>{{ invoice.dueDate|date('d-m-Y') }}</td>
                        <td>{{ invoice.status.statusName }}</td>
                        <td>
                            <a href="{{ path('invoices.remove', {id: invoice.id}) }}"><i class="far fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Odstranit doklad"></i></a>
                            <a href="{{ path('invoices.edit', {id: invoice.id}) }}"><i class="fas fa-edit" data-toggle="tooltip" data-placement="top" title="TO DO - Editovat doklad"></i></a>
                            <a href="{{ path('invoices.generate', {id: invoice.id}) }}"><i class="fas fa-file-pdf" data-toggle="tooltip" data-placement="top" title="Generovat PDF"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
