{% block stylesheets %}
    <link href="{{ asset('/css/styles.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/sidebars.css') }}" rel="stylesheet">
    <link href="{{ asset('/css/fontawesome-all.css') }}" rel="stylesheet">

    <style>
        body {
            font-family: DejaVu Sans, sans-serif;
            font-size: 12px;
        }
        table {
            /*border: 1px solid gray;*/
            font-size: 12px;
            max-width: 2480px;
            width:100%;
            border-collapse: collapse;
        }
        table, td {
            /*border: 1px solid gray;*/
            min-height: 10px;
            padding: 5px;
        }

        .t-head {
            font-size: 14px;
        }

        .final-price {
            font-size: 14px;
            text-align: right;
            margin-top: 5px;
            padding-top: 5px;
            border-top: 1px solid black;
        }
        .final-price .price {
            font-weight: bold;
            display: block;
            font-size: 18px;
            margin-block-start: 0.3em !important;
            margin-right: 2px;
        }

        .invoice-number {
            text-align: right;

        }
        .invoice-number .number {
            font-weight: bold;
            font-size: 19px;
        }

        .qr-code {
            /*vertical-align: top;*/
            /*display: inline-block;*/
            /*text-align: center;*/
        }
        .qr-code {
            display: block;
            padding-right: 50px;
            color: gray;
            font-size: 10px;
            font-style: italic;
            margin-top: -50px;
            /*display: block;*/
        }


        .content {
            width: 100%;
            max-width: 210mm;
            /*border: 2px solid green;*/
        }
        .column-10 {
            width: 100%;
        }
        .column-9 {
            width: 90%;
        }
        .column-8 {
            width: 80%;
        }
        .column-7 {
            width: 70%;
        }
        .column-6 {
            width: 60%;
        }
        .column-5 {
            width: 50%;
        }
        .column-4 {
            width: 40%;
        }
        .column-3 {
            width: 30%;
        }
        .column-2 {
            width: 20%;
        }
        .column-1 {
            width: 10%;
        }
        /*td {*/
        /*    border: 1px solid black;*/
        /*}*/

    </style>

{% endblock %}

    {% block javascripts %}

    {% endblock %}

{% block body %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
     <body>
     <div class="content">
         <table>
             <tr>
                 <td class="column-5" rowspan="3" style="text-align: center">Logo </td>
                 <td class="column-5 invoice-number">
                     <div class="number">Faktura č. {{ invoice.invoiceNumber }}</div>

                 </td>
             </tr>
             <tr>
                 <td></td>
             </tr>
             <tr>
                 <td></td>
             </tr>

         </table>
         <table style="margin-top: 1em">
             <tr>
                 <th class="column-5 t-head" style="text-align: left">Dodavatel</th>
                 <th class="column-5 t-head" style="text-align: right">Odběratel</th>
             </tr>
             <tr>
                 {% if user.firstName is defined and user.firstName is not null %}
                     <td>{{ user.firstName }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}

                 {% if invoice.contact.firstName is defined and invoice.contact.firstName is not null %}
                     <td style="text-align: right">{{ invoice.contact.firstName }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}
             </tr>
             <tr>
                 {% if user.companyName is defined and user.companyName is not null %}
                     <td>{{ user.companyName }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}

                 {% if invoice.contact.title is defined and invoice.contact.title is not null %}
                     <td style="text-align: right">{{ invoice.contact.title }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}
             </tr>
             <tr>
                 {% if user.addrStreet is defined and user.addrStreet is not null %}
                     <td>{{ user.addrStreet }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}

                 {% if invoice.contact.addrStreet is defined and invoice.contact.addrStreet is not null %}
                     <td style="text-align: right">{{ invoice.contact.addrStreet }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}
             </tr>
             <tr>
                 {% if user.addrCity is defined and user.addrCity is not null %}
                     <td>{{ user.addrCity }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}

                 {% if invoice.contact.addrCity is defined and invoice.contact.addrCity is not null %}
                     <td style="text-align: right">{{ invoice.contact.addrCity }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}
             </tr>
             <tr>
                 {% if user.vatNumber is defined and user.vatNumber is not null %}
                     <td>IČO: {{ user.vatNumber }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}

                 {% if invoice.contact.vatNumber is defined and invoice.contact.vatNumber is not null %}
                     <td style="text-align: right">IČO: {{ invoice.contact.vatNumber }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}
             </tr>
             <tr style="height: 14px;">
                 {% if user.bankAccountNumber is defined and user.bankAccountNumber is not null %}
                     <td>Bankovní spojení: {{ user.bankAccountNumber }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}
                 <td style="text-align: right; padding: 0" rowspan="5">
                         <img src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl=SPD*1.0*ACC:CZ2806000000000168540115*AM:450.00*CC:CZK*MSG:PLATBA%20ZA%20ZBOZI*X-VS:1234567890" />
                 </td>
             </tr>
             <tr style="height: 14px;">
                 {% if invoice.variableSymbol is defined and invoice.variableSymbol is not null %}
                     <td>Variabilní symbol: {{ invoice.variableSymbol }}</td>
                 {% else %}
                     <td></td>
                 {% endif %}
             </tr>
             <tr><td></td></tr>
             <tr><td></td></tr>
             <tr><td></td>
             </tr>
             <tr>
                 <td></td>
                 <td class="qr-code" style="text-align: right; padding-right: 25px;"> Platba pomocí qr kódu</td>
             </tr>
         </table>
         {% if invoice.textBefore is defined and invoice.textBefore is not null %}
             <div class="text-before" style="overflow: hidden; height: 75px; padding-top: 1em">
                 {{ invoice.textBefore }}
             </div>
         {% endif %}

         <table style="margin-top: 1em">
             <tr>
                 <th class="t-head" style="text-align: left; padding: 1em">Položky</th>
             </tr>
             <tr style="border-bottom: 1px solid gray">
                 <th class="column-4" style="text-align: left">Název</th>
                 <th class="column-1">Množství</th>
                 <th class="column-1">Jednotka</th>
                 <th class="column-2">Jednotková cena</th>
                 <th class="column-2" style="text-align: right">Celkem</th>
             </tr>
             {% for invoiceItem in invoice.invoiceItems %}
                 <tr style="padding: 2px">
                     <td class="column-4" style="text-align: left"> {{ invoiceItem.name }}</td>
                     <td class="column-1" style="text-align: center">{{ invoiceItem.amount }}</td>
                     <td class="column-1" style="text-align: center">{{ invoiceItem.unit }}</td>
                     <td class="column-2" style="text-align: center">{{ invoiceItem.pricePerUnit }}</td>
                     <td class="column-2" style="text-align: right">{{ invoiceItem.price }}</td>
                 </tr>
             {% endfor %}
         </table>

         <div class="final-price">
             {% if invoice.price is defined and invoice.price is not null %}
                   Celková cena: <div class="price">{{ invoice.price }} {% if invoice.currency.name is defined and invoice.currency.name is not null %} {{ invoice.currency.name }} {% endif %}</div>
             {% endif %}
         </div>


         {% if invoice.textAfter is defined and invoice.textAfter is not null %}
             <div class="text-after" style="overflow: hidden; height: 75px; padding-top: 1em">
                 {{ invoice.textAfter }}
             </div>
         {% endif %}

         {% if invoice.note is defined and invoice.note is not null %}
             <div class="text-note" style="overflow: hidden; height: 75px; padding-top: 1em; text-align: center">
                 {{ invoice.note }}
             </div>
         {% endif %}

         {% if invoice.footerText is defined and invoice.footerText is not null %}
             <div class="text-footer" style="overflow: hidden; height: 75px; padding-top: 1em">
                 {{ invoice.footerText }}
             </div>
         {% endif %}
     </div>

    </body>



{% endblock %}
