{% extends 'layout.html.twig' %}

{% block title %}Hello ContactsController!{% endblock %}

{% block body %}
    <div class="main">
        <div class="container">
            <h1 class="h1">Vytvoření nového kontaktu</h1>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
