{% extends 'layout.html.twig' %}

{% block title %}Hello ContactsController!{% endblock %}


{% block body %}
    <div class="main">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <a href="{{ path('contacts.create') }}">
                <button type="button" class="btn btn-secondary btn-lg btn-block">
                Nový kontakt<i class="fas fa-user-plus" style="padding-left: 10px"></i>
                </button>
            </a>

            <table class="table table-striped" style="margin-top: 30px">
                <thead>
                <tr>
                    <th>Jméno</th>
                    <th>Příjmení</th>
                    <th>Název</th>
                    <th>IČO</th>
                    <th>Email</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.firstName }}</td>
                        <td>{{ contact.lastName }}</td>
                        <td>{{ contact.title }}</td>
                        <td>{{ contact.vatNumber }}</td>
                        <td>{{ contact.email }}</td>
                        <td>
                            <a href="{{ path('contacts.remove', {id: contact.id}) }}"><i class="far fa-trash-alt" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i></a>
                            <a href="{{ path('contacts.edit', {id: contact.id}) }}"><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
